.inline-code {
  background: #eff5f9;
  color: #343f44;
  padding: 3px 4px;
  border-radius: 2px;
  margin: 0 1px;
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
  font-size: 0.9em;
}
